/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Variables*/
:root {
    --primary-font: "Playfair Display", sans-serif;
    --secondary-font: "Great Vibes", roboto;
    --primary-color: #014D4E; /* emerald green*/
    --secondary-color: #CBA135; /*champagne gold*/
    --highlight-color: #FFFFF0; /*ivory*/
    --highlight-color-light: #333333; /*charcoal black*/
}

/* Global Style */
body {
    font-family: "Playfair Display", sans-serif;
}

h1 {
    font-family: "Great Vibes", roboto;
}





/* Footer */
footer ul {
    list-style: none;
}